{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}
{% block title %}Contact{% endblock %}
{% block body %}
<div class="container2">
    <form id="contact" action="{% url 'contact' %}" method="post">
        {% csrf_token %}
        <h3>Contact us</h3>
        <fieldset>
            <input placeholder="Your name" type="text" tabindex="1" required autofocus name="name">
        </fieldset>
        <fieldset>
            <input placeholder="Your Email Address" type="email" tabindex="2" required name="email">
        </fieldset>
        <fieldset>
            <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required name="mobile">
        </fieldset>
        <fieldset>
            <textarea placeholder="Type your message here...." tabindex="5" required name="message"></textarea>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
    </form>
</div>
{% endblock %}